html, body {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#centerDisplay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#timeDisplay {
	font-size: 30vh;
	font-family: 'Courier New', Courier, monospace;
	white-space: nowrap;
	user-select: none;
}

#currentTimePeriod {
	text-align: center;
	font-size: 5vh;
}

#timeOver {
	position: fixed;
	top: 50%;
	left: 0%;
	transform: translate(50%, -50%);
}

#timeLeft {
	position: fixed;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
}

#consoleView {
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 50%);
}

@media screen and (max-height: 400px) {
	#currentTimePeriod {
		font-size: 7.5vh;
	}
	#timeLeft {
		font-size:75%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}