html, body {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#centerDisplay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#timeDisplay {
	font-size: 15vw;
	font-family: 'Courier New', Courier, monospace;
	white-space: nowrap;
	user-select: none;
}

#currentTimePeriod {
	text-align: center;
	font-size: 3vh;
}

[data-setting-hideTimePeriod = true] #currentTimePeriod {
	display: none;
}

.shiftDown #currentTimePeriod {
	display: block;
}

#timeOver {
	position: fixed;
	top: 50%;
	left: 0%;
	transform: translate(50%, -50%);
	display: none;
}

[data-pointerpos = "left"] #timeOver {
	display: block;
}

#timeLeft {
	position: fixed;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
}

[data-pointerpos = "left"] #timeLeft {
	display: none;
}

body.shiftDown #timeOver, .shiftDown[data-pointerpos = "left"] #timeLeft {
	display: block;
}

#dateDisplay {
	font-size: 5vh;
	position: fixed;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -200%);
}

#consoleView {
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: 1000;
}

#settingsIcon, #closeSettingsIcon {
	position: fixed;
	top: 0%;
	right: 0%;
	transform: translate(-50%, 50%);
	cursor: pointer;
}

#settingsIcon {
	display: none;
}

.materialSymbolsLoaded #settingsIcon {
	display: block;
}

.fadeEnabled#settingsIcon {
	opacity: 0;
	transition: opacity 0.5s;
}

#settingsIcon::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 500%;
	height: 500%;
	transform: translate(-50%, -50%);
}

.fadeEnabled#settingsIcon:hover {
	opacity: 1;
}

.shiftDown #settingsIcon {
	transition: none;
	opacity: 1;
}

#settingsPage {
	width: 100vw;
	height:  100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: white;
	display: none;
	text-align: center;
}

.settingsView #settingsPage {
	display: block;
}

#settingsTitle {
	font-size: 8vh;
}

#settingsPage label {
	font-size: 3vh;
}

@media screen and (max-height: 400px) {
	#currentTimePeriod {
		font-size: 7.5vh;
	}
	#timeLeft {
		font-size: 75%;
	}
}

@media (prefers-color-scheme: dark) {
	body, #settingsPage {
		background-color: black;
		color: white;
	}
}